.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 2.1562rem;
    padding-bottom: 6.5rem;
    height: 3vh;
    width: 100%;
}

.cabecalho__logo{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.cabecalho__logo__imagem{
    margin-right: 0.5625rem;
}

.cabecalho__logo__texto{
    font-family: var(--raleway);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
}

.cabecalho__navegacao{
    text-align: center;
}

.cabecalho__lista{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.cabecalho__item{
    margin-right: 2rem;
}

.cabecalho__item:hover{
    transform: scale(1.1);  
}

.cabecalho__item:nth-child(6){
    font-weight: bold;
}

.cabecalho__link {
    color: var(--cinza-texto);
    text-decoration: none;
    text-transform: capitalize;
}

.cabecalho__link:hover{
    color: var(--preto-hover);
    text-decoration: underline;
}


@media screen and (max-width:960px){
    .cabecalho{
        height: 10vh;
        padding-bottom: 3.5rem;
    }

    .hide{
        display: none;
    }
}

@media screen and (max-widtg:425px){
    
}

