.formacoes{
    background-color: var(--azul-fundo);
    padding-bottom: 5.125rem;
}

.formacoes__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formacao{
    height: 45%;
    width: calc((100% - 2rem) / 3);
}

.formacao:nth-last-child(1){
    margin-right: 0;
}

.formacao__imagem{
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 210px;
    margin-bottom: 0.5rem;
    width: 100%;
}

.formacao__imagem__instituto{
    height: 130px;
    width: 192px;
}

.formacao__curso{
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.formacao__status{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
}

@media screen and (max-width:960px){ 
    .formacoes{
        padding-bottom: 2rem;
    }

    .formacao__curso{
        font-size: 1rem;
    } 

    .formacao__status{
        font-size: 0.875rem;
    }

    .formacao__imagem{
        height: 120px;
    }
    
    .formacao__imagem__instituto{
        height: 58px;
        width: 84px;
     }
}

@media screen and (max-width:425px){
    .formacoes__lista{
        flex-wrap: wrap;
    }
    
    .formacao{
        width: 100%;
    }
}

