.formacoes{
    background-color: var(--azul-fundo);
    margin-bottom: 5.125rem;
}

.formacao__titulo{
    text-align: center;
}

.formacao{
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 286px;
    justify-content: flex-end;
    margin-right: 1rem;
    padding: 1rem;
    width: calc((100% - 2rem) / 3);
}

.formacao:nth-last-child(1){
    margin-right: 0;
}

.formacao__imagem{
    margin-bottom: 0.5rem;
}

.formacao__legenda{
    font-size: 1rem;
    font-weight: 700;
}

.formacoes__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
