.habilidades{
    background-color: var(--cinza-fundo);
    height: auto;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.habilidades__titulo{
    text-align: center;
}

.habilidades__lista{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}

.habilidade{
    align-items: flex-start;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: flex-end;
    padding: 1rem;
    width: 200px;
}


.habilidade__imagem{
    margin-bottom: 0.5rem;
}

.habilidade__legenda{
    font-size: 1rem;
    font-weight: 700;
}


@media screen and (max-width:768px){
    .habilidades__lista{
        flex-wrap: wrap;
    }

    .habilidades{
        height: auto;
        margin-bottom: 2rem;
        padding-bottom: 0;
    }

    .habilidade{
        width: calc((100% - 2rem) / 3);
    }
}

