.projetos{
    height: 100vh;
    margin-bottom: 2rem;
}

.projeto{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 40vh;
    justify-content: space-between;
    margin: 0 auto 5vh auto;
    width: 100%;
}

.projeto:nth-child(odd){
    flex-direction: row-reverse;
}

.projeto__imagem-decodificador{
    background: url("../images/alura-decodificador.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0 2rem;
    width: 55%;
}

.projeto__imagem-forca{
    background: url("../images/alura-forca.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0 2rem;
    width: 55%;
}

.projeto__titulo{
    font-size: 1.375rem;
    font-weight: 700;
}

.projeto__descricao{
    font-size: 1rem;
    font-weight: 500;
}

.projeto__corpo{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 35vh;
}

.projeto__botao-repositorio{
    background-color: var(--cinza-fundo);
    border: 1px solid var(--azul-botao);
    color: var(--azul-botao);
}

.projeto__botao-page{
    background-color: var(--azul-botao);
    border: none;
    color: white;
}

@media screen and (max-width:960px){
    .projetos{
        margin-bottom: 1rem;
    }

    .projeto__titulo{
        font-size: 1rem;
    }

    .projeto__descricao{
        font-size: 0.875rem;
    }

    .projeto__botoes{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (max-width:1024px){
    .projeto__botoes{
        flex-direction: row;
    }

}


@media screen and (max-width:425px){
    .projetos{
        margin-bottom: 0;
    }
    
    .projeto{
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto:nth-child(odd){
        flex-direction: column;
        margin-bottom: 0;
    }

    .projeto__imagem-decodificador{
        width: 100%;
    }

    .projeto__imagem-forca{
        width: 100%;
    }

    .projeto__corpo{
        width: 100%;
    }
}