.sobre{
    background-color: var(--azul-fundo);
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
}

.sobre__texto{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin: 0 auto;
    text-align: justify;
    width: 75%;
}

@media screen and (max-width:960px) {
    .sobre{
        padding-top: 0;
    }
}

@media screen and (max-width:425px) {
    .sobre__texto{
        width: 100%;
    }
}